/*========================================

	Animations Styles

    --------------------------------------

========================================*/

@include keyframes(shake) {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

@include keyframes(scaleUp) {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% { 
        opacity: 1;
        transform: scale(1);
    }
}