/*========================================

	Helper Styles
	_____________

========================================*/

/*========================================

	Margin Helpers

========================================*/

.mbn {
	margin-bottom: 0;
}

.mb {
	margin-bottom: ($gutterWidthPercent /1.5);
}

.mb25 { 
    margin-bottom: 25px;
    @include breakpoint(small-desktop) {
		margin-bottom: 20px;
	}
    @include breakpoint(large-mobile) {
		margin-bottom: 15px;
	}
}

.mb50 { 
    margin-bottom: 50px
}

.mbn-mobile {
	@include breakpoint(phablet) {
		margin-bottom: 0;
	}
}

/*========================================

	Text Helpers

========================================*/

.text-indent {
    position: absolute;
    color: transparent;
    text-indent: -99999px;
}

.skip-link {
	top: -100%;
	width: 100%;
	padding: 15px;
	display: block;
	position: fixed;
	text-align: center;
	@include opacity(0);
	@include transition;
	background: $accent;
	color: $whiteDefault;
	text-decoration: none;
	z-index: z(the-godfather);
	&:focus {
		top: 0;
		@include opacity(1);
	}
	&:hover {
		color: $whiteDefault;
	}
}

/*========================================

	Transition Helpers

========================================*/

.transition {
	@include transition;
}

/*========================================

	Animation Helpers

========================================*/

.shake {
    @include animation('shake 0.5s');
}

/*========================================

	List Helpers

========================================*/

.block-list {
    @include blockList;
}

.inline-list {
    @include inlineList;
}

.styled-list {
	margin-left: 20px;
	margin-bottom: 1.5em;
	li {
		margin-bottom: 0.5em;
		&:last-child {
	        margin-bottom: 0;
	    }
	}
}

.scrollable-on-tablet {
	@include breakpoint(tablet) {
	    overflow-x: scroll;
    	overflow-y: hidden;
    	white-space: nowrap;
    	-webkit-overflow-scrolling: touch;
		& > li {
			float: none;
			white-space: normal;
			display: inline-block;
		}
	}
}

.scrollable-on-phablet {
	@include breakpoint(phablet) {
	    overflow-x: scroll;
    	overflow-y: hidden;
    	white-space: nowrap;
    	-webkit-overflow-scrolling: touch;
		& > li {
			float: none;
			white-space: normal;
			display: inline-block;
		}
	}
}

/*========================================

	Container Helpers

========================================*/

.same-height-children { 
	display: flex;
	align-items: stretch;
	@include breakpoint(phablet) {
		display: block;
	} 
}

.same-height-children-mobile { 
	display: flex;
	align-items: stretch;
	@include breakpoint(large-mobile) {
		display: block;
	} 
}

.max-width {
	margin: 0 auto;
	max-width: 800px;
}

.max-width-mini {
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
}

/*========================================

	Position helpers

========================================*/

.hidden {
	display: none;
}

.hidden-on-mobile {
    @include breakpoint(phablet) {
        display: none;
    }
}

.shown-on-mobile {
	display: none;
	@include breakpoint(phablet) {
        display: block;
    }
}

.display-block {
	display: block;
}

.text-center {
	text-align: center;
}
