@font-face {
    font-family: 'icons';
    src:    url('fonts/icons.eot?2mkfyl');
    src:    url('fonts/icons.eot?2mkfyl#iefix') format('embedded-opentype'),
        	url('fonts/icons.woff?2mkfyl') format('woff');
    font-weight: normal; 
    font-style: normal;
}

@mixin iconFont { 
    font-family: 'icons';
    speak: none; 
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none; 
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
    @include iconFont;
}

.icon-file-text:before {
  content: "\e926";
}
.icon-location:before {
  content: "\e947";
}
.icon-compass:before {
  content: "\e94a";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-display:before {
  content: "\e956";
}
.icon-download:before {
  content: "\e960";
}
.icon-speech-bubbles:before {
  content: "\e96f";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list-bullet:before {
  content: "\e9bb";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-chevron-down:before {
  content: "\e905";
}
.icon-chevron-left:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e907";
}
.icon-chevron-thin-down:before {
  content: "\e908";
}
.icon-chevron-thin-left:before {
  content: "\e909";
}
.icon-chevron-thin-right:before {
  content: "\e90a";
}
.icon-chevron-thin-up:before {
  content: "\e90b";
}
.icon-chevron-up:before {
  content: "\e90c";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}